<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="placeholderConfig"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:jdbc.properties</value>
        </property>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="jdbcUrl" value="${hs.url}" />
        <property name="driverClass" value="${hs.driverClassName}" />
        <property name="user" value="${hs.username}" />
        <property name="password" value="${hs.password}" />
        <property name="acquireIncrement" value="${hs.acquireIncrement}" />
        <property name="initialPoolSize" value="${hs.initialPoolSize}" />
        <property name="minPoolSize" value="${hs.minPoolSize}" />
        <property name="maxPoolSize" value="${hs.maxPoolSize}" />
        <property name="maxStatements" value="${hs.maxStatements}" />
        <property name="numHelperThreads" value="${hs.numHelperThreads}" />
        <property name="maxIdleTime" value="${hs.maxIdleTime}" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:sqlMapConfigMybatis.xml" />
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="transManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <tx:advice id="transactionAdvice" transaction-manager="transManager">
        <tx:attributes>
            <tx:method name="query*" propagation="REQUIRED"/>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="del*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    <tx:annotation-driven transaction-manager="transManager" order="1"></tx:annotation-driven>

    <bean id="serviceInterceptor" class="com.hs.interceptor.ServiceInterceptor"></bean>
    <aop:config>
        <aop:pointcut id="servicePointCut" expression="target(com.hs.common.service.IBaseService)"></aop:pointcut>
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="servicePointCut" order="2"></aop:advisor>
        <aop:aspect id="busysAspect" order="3" ref="serviceInterceptor">
            <aop:around method="aroundInvoke" pointcut-ref="servicePointCut"></aop:around>
        </aop:aspect>
    </aop:config>

    <bean id="actionInterceptor" class="com.hs.interceptor.ActionInterceptor"></bean>

    <context:component-scan base-package="com.hs">
    </context:component-scan>

</beans>